<style>
    .grid {
        display: grid;
        grid-template-rows: 40px 1fr;
        height: 100vh;
    }

    .log-file-dropdown {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        margin-left: 0.75rem;
    }

    .log-file-dropdown select {
        max-width: 28rem;
        padding: 0.3rem 0.5rem;
    }
</style>
<div class="grid">
  <div>
    <%= link_to onlylogs.root_path do %>
      <%= image_tag "onlylogs/logo.png", style: "height: 30px" %>
    <% end %>

    <%= render partial: "log_files_dropdown", locals: { available_log_files: @available_log_files }  %>
  </div>
  <%= render partial: "onlylogs/shared/log_container", locals: { log_file_path: @log_file_path, tail: @max_lines, filter: @filter, autoscroll: @autoscroll } %>
</div>
