<p>
<%= link_to "Check logs in Real Time", onlylogs.root_path, target: :_blank %>
</p>
<p>
<%= link_to "Check logs in Real Time, but fast", onlylogs.root_path(fast: true), target: :_blank %>
</p>

<p>When loading this page, some lines are added to the logs, for testing purposes.</p>
